*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    width: 80%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("images/Banner\ Image.png"); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.banner-text{
    color: white;  
}
.banner-text h4{
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.banner-text h1{
    text-align: center;
    font-size: 70px;
}
.offer-section{
    display: flex;   
    flex-direction: column;
    align-items: center;
}
.offer-section h1{
    text-align: center;
    font-size: 65px;
    color: red;
    margin-bottom: 45px;
}
.offer-section p{
    color: red;
    text-align: center;
    font-size: small;
}
.offer-section h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
.offer-img img{
    width: 500px;
}

/* party section */
.party-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 80px auto;
    padding: 60px;
    /* background */
    background-image: url("images/Vectorrr.png");
    background-size: cover;
    border-radius: 15px;
}
.party-content{
    max-width: 500px;
}
.party-content h1{
    color: #FFF;
    font-size: 70px;
}
.party-content p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
}
.party-content button{
    color: #FFF;
    text-align: center;
    background-repeat: no-repeat;
    border: none;
}