*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    width: 80%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("images/Banner\ Image.png"); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.banner-text{
    color: white;  
}
.banner-text h4{
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.banner-text h1{
    text-align: center;
    font-size: 70px;
}
.offer-section{
    display: flex;   
    flex-direction: column;
    align-items: center;
}
.offer-section h1{
    text-align: center;
    font-size: 65px;
    color: red;
    margin-bottom: 45px;
}
.offer-section p{
    color: red;
    text-align: center;
    font-size: small;
}
.offer-section h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
.offer-img img{
    width: 500px;
}

/* party section */
.party-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 80px auto;
    padding: 60px;
    /* background */
    background-image: url("images/Vectorrr.png");
    background-size: cover;
    border-radius: 15px;
}
.party-content{
    max-width: 500px;
}
.party-content h1{
    color: #FFF;
    font-size: 70px;
}
.party-content p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
}
.party-content button{
    color: #FFF;
    text-align: center;
    background-repeat: no-repeat;
    border: none;
}
ul{
    text-align: center;
}
.primary-content{
    color: #F00;

}
li .red-button{
    background-color: #F00;
    border: 0;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 10px;
    padding: 10px;
}
.button-content{
    padding: 100px 0;
    background-color: antiquewhite;
    width: 65%;
    margin: 0 auto;
}
.button-content ul li{
    padding: 5px;
    list-style: none;
    font-size: 20px;
}
.coming-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0px;
    width: 75%;
    margin: 0 auto;
}
.section-1{
    width: 25%;
    margin-left: 20px;
}
.section-2{
    border: red 10px solid;
    border-radius: 50%;
    padding: 10px;
    margin: 0 50px;
}
.section-2 img{
    height: 250px;

}
.section-1 h4{
    color: #F00;
    margin-left: 10px;
}
.section-1 h2{
    font-size: 36px;
    margin: 5px 0 5px;
}
.section-1 p{
    color: rgba(7, 2, 17, 0.60);
}

.section-3{
    margin-left: 30px;
    max-width: 30%;
}

.section-3 h2{
    color: #F00;
    font-size: 48px;
}
.section-3 p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
}
.section-3 img{
    margin-top: 50px;
    width: 110px;
    height: 120px;
}
.our-portfolio{
    max-width: 75%;
    margin: 0 auto;
}

.gift-content h4{
    color: #F00;
    font-size: 18px;
}
.gift-content h2{
    color: #070211;
    font-size: 40px;
    margin-bottom: 8px;
}
.gift-content p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    margin-bottom: 6px;
}

.portfolio-img{
    width: 350px;
    margin: 8px;
}
footer{
    background-color:  #070211;
    padding: 140px 110px;
}

.footer-item{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    margin: 5px;
}

.last-item{
    color: #FFF;
    display: flex;
    justify-content: space-between;

}
.newsletter{
    background-color: bisque;
    width: 70%;
    margin: 100px auto;
    border-radius: 10px;
    padding: 80px;
}
hr{
    margin: 15px;
}
.input-button{
    display: flex;
}
.newsletter img{
    width: 10%;
    margin: 0 auto;
    display: block;
}
.newsletter p{
    color: rgba(7, 2, 17, 0.60);
    padding-top: 15px;
    padding-bottom: 15px;
}
.newsletter h1{
    font-size: 40px;
}
.newsletter h1, p{
    text-align: center;
}
.input-button{
    width: 30%;
    margin: 0 auto;
}
.input-img{
    height: 50px;
    border-radius: 20px 0 0 20px;
    width: 300px;
    padding-left: 8px;
}
.last-button{
    color: #FFF;
    background-color: #F00;
    border-radius: 0 20px 20px 0;
    padding: 15px;
}
.sale-text{
    text-align: center;
}
.sale-text h4{
    font-size: 20px;
}
.sale-text .red-word{
    color: #F00;
}
.sale-text h1{
    font-size: 55px;
}
.sale-banner{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.banner-image{
    display: flex;
    align-items: center;
}
.img-1{
    width: 65%;
    position: relative;
    top: 220px;
}
.img-2{
    position: absolute;
    right: 29%;
}
.img-3{
    width: 35%;
}
